<table class="table stripped table-hover table-responsive">
  <thead  class="bg-dark">
    <tr>
      <th class="th-color" scope="col">#</th>
      <th class="th-color" scope="col">First Name</th>
      <th class="th-color" scope="col">Last Name</th>
      <th class="th-color" scope="col">Email</th>
      <th class="th-color" scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let employee of employees">
      <th scope="row">{{ employee.id }}</th>
      <td>{{ employee.firstName }}</td>
      <td>{{ employee.lastName }}</td>
      <td>{{ employee.emailId }}</td>
      <td>
        <button (click)='updateEmployee(employee.id)' class="btn btn-sm btn-dark">Update</button>
        <button (click) = 'deleteEmployee(employee.id)' class = "btn btn-sm btn-dark" style="margin-left: 10px">Delete</button>
      </td>
    </tr>
  </tbody>
</table>
