<nav
  class="navbar navbar-expand-sm bg-dark navbar-dark justify-content-between"
>
  <ul class="navbar-nav">
    <li class="nav-item">
      <a
        style="color: white"
        routerLink="employees"
        routerLinkActive="active"
        class="nav-link"
        >Employees</a
      >
    </li>
    <li class="navbar-item">
      <a style="color: white" routerLink="create-employee" class="nav-link"
        >Create</a
      >
    </li>
  </ul>
</nav>
<div class="container" style="margin-top: 20px">
  <router-outlet></router-outlet>
</div>
<footer class="footer bd-dark">
  <div class="container">
    <span><span>All Rights Reserved © 2021 chris dany</span></span>
  </div>
</footer>
