<div class="col-md-8 offset-md-2">
  <h3>Create an Employee</h3>
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="firstName">First Name</label>
      <input
        id="firstName"
        name="firstName"
        type="text"
        class="form-control"
        [(ngModel)]="employee.firstName"
      />
    </div>
    <div class="form-group">
      <label for="laststName">Last Name</label>
      <input
        id="lastName"
        name="lastName"
        type="text"
        class="form-control"
        [(ngModel)]="employee.lastName"
      />
    </div>
    <div class="form-group">
      <label for="emailId">Email Id</label>
      <input
        id="emailId"
        name="emailId"
        type="text"
        class="form-control"
        [(ngModel)]="employee.emailId"
      />
    </div>
    <button type="submit" style="margin-top: 10px" class="btn btn-sm btn-dark">
      Submit
    </button>
  </form>
</div>
